<div class="headStrip"><h4> Multi-Award Winning Dental Clinic in Hammersmith, London </h4></div>
<header class="fl-builder-content fl-builder-content-7 fl-builder-global-templates-locked header" data-post-id="7" itemscope="itemscope" itemtype="http://schema.org/WPHeader" data-type="header" data-sticky="1" data-shrink="1" data-overlay="0" data-overlay-bg="transparent"><div class="fl-row fl-row-full-width fl-row-bg-color fl-node-59f05a5953c34 fl-visible-desktop-medium" data-node="59f05a5953c34">
	<div class="fl-row-content-wrap headerContainer">
		<div class="uabb-row-separator uabb-top-row-separator" >
</div>
		<div class="fl-row-content fl-row-fixed-width fl-node-content">
<div class="fl-col-group fl-node-59f05a5953c76 fl-col-group-equal-height fl-col-group-align-center fl-col-group-custom-width" data-node="59f05a5953c76">
			<div class="fl-col fl-node-59f05a5953cb2 fl-col-small" data-node="59f05a5953cb2">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-photo fl-node-59f05afba9006" data-node="59f05afba9006">
	<div class="fl-module-content fl-node-content">
		<div class="fl-photo fl-photo-align-left" itemscope itemtype="https://schema.org/ImageObject">
	<div class="fl-photo-content fl-photo-img-png">
				<img class="fl-photo-img wp-image-9 size-full" src="assets/images/invisalign_made_to_move_logo_white2.svg" alt="purple-logo" itemprop="image" height="87" width="237" title="purple-logo"  />
					</div>
	</div>
	</div>
</div>
	</div>
</div>
			<div class="fl-col fl-node-59f05a5953ced" data-node="59f05a5953ced">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-rich-text fl-node-59f05b3873f88" data-node="59f05b3873f88">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<h3><i class="fa fa-fw fa-phone"></i> <a href="tel:0208 846 8534"> 0208 846 8534</a></h3>
<h4><i class="far fa-envelope"></i>	<a href="mailto:info@thecaredentalpractice.com"> info@thecaredentalpractice.com</a></h4>
<p class="top-address"><i class="fa fa-fw fa-map-marker"></i> 138-140 Hammersmith Road, London W6 7JP</p>
</div>
	</div>
</div>
	</div>
</div>
	</div>
		</div>
	</div>
</div>
<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-59f886731f6bd fl-visible-mobile " data-node="59f886731f6bd">
	<div class="fl-row-content-wrap r headContainer">
		<div class="uabb-row-separator uabb-top-row-separator" >
</div>
		<div class="fl-row-content fl-row-fixed-width fl-node-content mobileHeader">
<div class="fl-col-group fl-node-59f886731fadf fl-col-group-equal-height fl-col-group-align-center fl-col-group-custom-width" data-node="59f886731fadf">
			<div class="fl-col fl-node-59f886731fb60" data-node="59f886731fb60">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-photo fl-node-59f886731fbda" data-node="59f886731fbda">
	<div class="fl-module-content fl-node-content">
		<div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
	<div class="fl-photo-content fl-photo-img-png">
				<img class="fl-photo-img wp-image-9 size-full" src="assets/images/invisalign_made_to_move_logo_white2.svg" alt="purple-logo" itemprop="image" height="87" width="237" title="purple-logo"  />
					</div>
	</div>
	</div>
</div>
	</div>
</div>
	</div>
<div class="fl-col-group fl-node-59f88680d63cb" data-node="59f88680d63cb">
			<div class="fl-col fl-node-59f88680d677d" data-node="59f88680d677d">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-rich-text fl-node-59f886731fccc" data-node="59f886731fccc">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<h3 style="text-align: center;"><i class="fa fa-fw fa-phone"></i> <a href="tel:0208 846 8534">0208 846 8534</a></h3>
<h4 style="text-align: center;"><i class="far fa-envelope msgIcon"></i>	<a href="mailto:info@thecaredentalpractice.com">info@thecaredentalpractice.com</a></h4>
<p class="top-address" style="text-align: center;"><i class="fa fa-fw fa-map-marker"></i>138-140 Hammersmith Road, London W6 7JP</p>
</div>
	</div>
</div>
	</div>
</div>
	</div>
		</div>
	</div>
</div>
</header>