<footer class="fl-builder-content fl-builder-content-61 fl-builder-global-templates-locked" data-post-id="61" itemscope="itemscope"
 itemtype="http://schema.org/WPFooter" data-type="footer">
	<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-59f205ed1b99c" data-node="59f205ed1b99c">
		<div class="fl-row-content-wrap">
		
			<div class="fl-row-content fl-row-fixed-width fl-node-content">
				<div class="fl-col fl-node-59f205ed1ba61 fl-col-small" data-node="59f205ed1ba61">
					<div class="centered">
					<div class="fl-photo-content fl-photo-img-png">
						<img class="fl-photo-img wp-image-63 size-full" src="assets/images/practice-logo.jpg" alt="dentist-in-st-johns-wood"
						 itemprop="image" height="87" width="237" title="dentist-in-st-johns-wood" />
					</div>
				</div>
					<div class="fl-col-content fl-node-content">
						<div class="fl-module fl-module-rich-text fl-node-59f20e06cab1a" data-node="59f20e06cab1a">
							<div class="fl-module-content fl-node-content">
								<div class="fl-rich-text">
									<ul class="fa-ul">
										<li><i class="fa fa-li fa-map-marker"></i>118-120 Hammersmith Road,<br /> London W6 7JP<br />

										</li>
										<li><i class="fa fa-li fa-phone"></i><a href="tel:02039068499">0203 906 8499</a></li>
										<li><i class="far fa-li fa-envelope"></i><a class="email" href="mailto:info@caredentalplatinum.com">info@caredentalplatinum.com</a></li>
										<li><i class="fab fa-li fa-instagram"></i><a href="https://www.instagram.com/caredental/">The Care Dental Group</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="fl-col fl-node-59f205ed1ba22 fl-col-small" data-node="59f205ed1ba22">
					<div class="fl-col-content fl-node-content">
						<div class="fl-module fl-module-pp-business-hours fl-node-59f206dd5791c" data-node="59f206dd5791c">
							<div class="fl-module-content fl-node-content">
								<h3>Opening Times:</h3>
								<div class="pp-business-hours-content clearfix" itemscope itemtype="http://schema.org/Store">
									<meta itemprop="name" content="Dental Implants" />
									<div itemprop="openingHoursSpecification" itemscope="itemscope" itemtype="https://schema.org/OpeningHoursSpecification" class="pp-bh-row clearfix pp-bh-row-0">
										<div class="pp-bh-title">
											<link itemprop="dayOfWeek" href="https://schema.org/Monday" />Monday
										</div>
										<div class="pp-bh-timing">
											<time itemprop="opens" content="9:00 AM">9:30 AM</time> - <time itemprop="closes" content="6:00 PM">18:00 PM</time>
										</div>
									</div>
									<div itemprop="openingHoursSpecification" itemscope="itemscope" itemtype="https://schema.org/OpeningHoursSpecification" class="pp-bh-row clearfix pp-bh-row-1">
										<div class="pp-bh-title">
											<link itemprop="dayOfWeek" href="https://schema.org/Tuesday" />Tuesday
										</div>
										<div class="pp-bh-timing">
											<time itemprop="opens" content="9:00 AM">8:30 AM</time> - <time itemprop="closes" content="6:00 PM">18:00 PM</time>
										</div>
									</div>
									<div itemprop="openingHoursSpecification" itemscope="itemscope" itemtype="https://schema.org/OpeningHoursSpecification" class="pp-bh-row clearfix pp-bh-row-2">
										<div class="pp-bh-title">
											<link itemprop="dayOfWeek" href="https://schema.org/Wednesday" />Wednesday
										</div>
										<div class="pp-bh-timing">
											<time itemprop="opens" content="9:00 AM">8:30 AM</time> - <time itemprop="closes" content="6:00 PM">18:00 PM</time>
										</div>
									</div>
									<div itemprop="openingHoursSpecification" itemscope="itemscope" itemtype="https://schema.org/OpeningHoursSpecification" class="pp-bh-row clearfix pp-bh-row-3">
										<div class="pp-bh-title">
											<link itemprop="dayOfWeek" href="https://schema.org/Thursday" />Thursday
										</div>
										<div class="pp-bh-timing">
											<time itemprop="opens" content="9:00 AM">9:30 AM</time> - <time itemprop="closes" content="6:00 PM">18:00 PM</time>
										</div>
									</div>
									<div itemprop="openingHoursSpecification" itemscope="itemscope" itemtype="https://schema.org/OpeningHoursSpecification" class="pp-bh-row clearfix pp-bh-row-4">
										<div class="pp-bh-title">
											<link itemprop="dayOfWeek" href="https://schema.org/Friday" />Friday
										</div>
										<div class="pp-bh-timing">
											<time itemprop="opens" content="9:00 AM">9:30 AM</time> - <time itemprop="closes" content="6:00 PM">18:00 PM</time>
										</div>
									</div>
									<div itemprop="openingHoursSpecification" itemscope="itemscope" itemtype="https://schema.org/OpeningHoursSpecification" class="pp-bh-row clearfix pp-bh-row-5">
										<div class="pp-bh-title">
											<link itemprop="dayOfWeek" href="https://schema.org/Saturday" />Saturday
										</div>
										<div class="pp-bh-timing">
											<time itemprop="opens" content="9:00 AM">10:00 AM</time> - <time itemprop="closes" content="4:00 PM">15:00 PM</time>
										</div>
									</div>
									<div itemprop="openingHoursSpecification" itemscope="itemscope" itemtype="https://schema.org/OpeningHoursSpecification" class="pp-bh-row clearfix pp-bh-row-6 pp-closed">
										<div class="pp-bh-title">
											<link itemprop="dayOfWeek" href="https://schema.org/Sunday" />Sunday
										</div>
										<div class="pp-bh-timing">
											Closed </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-59f205ed1b882" data-node="59f205ed1b882">
		<div class="fl-row-content-wrap">
		
			<div class="fl-row-content fl-row-fixed-width fl-node-content">
				<div class="fl-col-group fl-node-59f205ed1b8cb" data-node="59f205ed1b8cb">
					<div class="fl-col fl-node-59f205ed1b91f" data-node="59f205ed1b91f">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-rich-text fl-node-59f205ed1b95e" data-node="59f205ed1b95e">
								<div class="fl-module-content fl-node-content">
									<div class="fl-rich-text">
										<p style="text-align: center;">Care Dental Platinum, © 2018 | Privacy Policy | Cookies Policy Privacy Policy</p>
										<h4 style="text-align: center;"><i class="fas fa-trophy"></i> Multi Award Winning Dental Clinic in Hammersmith,
											London <i class="fas fa-trophy"></i></h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>