<div id="fullwidth">
    <div class="container">
        <div class="headline">

            <h2>Invisalign vs. Traditional Braces</h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <h3>Clear & Invisible</h3>
            <p>
                Very discreet, hardly noticeable braces with no metal. You can not have conversations with friends,
                family and colleagues without them even realising that you are wearing Invisalign aligners.
            </p>
        </div>
        <div class="col-md-6  col-sm-6">
            <h3>Removable & Comfortable</h3>
            <p>
                Invisalign Aligners are removable which means you can brush, floss eat, drink or play sport with ease. The smooth plastic
                is easy on the mouth, and won’t irritate the gums or cheeks the way some brackets and wires might from traditional
                braces.
            </p>
        </div>
        <div class="col-md-6  col-sm-6">
            <h3>Fewer Appointments</h3>
            <p>
                Appointments are far fewer than traditional braces, they are quick and convenient with no need for wire changes or bracket
                repositioning.
            </p>
        </div>
        <div class="col-md-6  col-sm-6">
            <h3>Free Teeth Whitening and Retainers</h3>
            <p>
                With Invisalign Treatment, we offer teeth whitening to give you the extra sparkle at the end of the treatment, as well as
                hidden wire retainers that are placed behind your teeth making sure your teeth never move again!
            </p>
        </div>
    </div>
</div>
<!-- <img width="30%" src="assets/images/Invisalign vs. Braces.jpg" alt=""> -->