<div class="fl-row-content-wrap">
<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5b4d093c96900" data-node="5b4d093c96900">
    <div class="fl-row-content-wrap">
      <div class="uabb-row-separator uabb-top-row-separator">
      </div>
      <div class="fl-row-content fl-row-fixed-width fl-node-content">
        <div class="fl-col-group fl-node-5b4d094632ce2" data-node="5b4d094632ce2">
          <div class="fl-col fl-node-5b4d094632ebf" data-node="5b4d094632ebf">
            <div class="fl-col-content fl-node-content">
              <div class="fl-module fl-module-heading fl-node-5b4d094632b95" data-node="5b4d094632b95">
                <div class="fl-module-content fl-node-content">
                  <h2 class="fl-heading headline">
                    <span class="fl-heading-text">Before and After Photos of Invisalign Treatment</span>
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fl-col-group fl-node-5b4d093ca16ee" data-node="5b4d093ca16ee">
          <div class="fl-col fl-node-5b4d093ca1872 fl-col-small" data-node="5b4d093ca1872">
            <div class="fl-col-content fl-node-content">
              <div class="fl-module fl-module-uabb-beforeafterslider fl-node-5b4d09d4a2dc9" data-node="5b4d09d4a2dc9">
                <div class="fl-module-content fl-node-content">
                  <div class="uabb-module-content uabb-before-after-slider">
                    <div class="uabb-module-content before-after-slider">
                      <div class="uabb-ba-container baslider-5b4d09d4a2dc9 uabb-label-position-center uabb-move-on-hover">
                     <img src="assets/images/beforeandafter1.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="fl-col fl-node-5b4d093ca18ad fl-col-small" data-node="5b4d093ca18ad">
            <div class="fl-col-content fl-node-content">
              <div class="fl-module fl-module-uabb-beforeafterslider fl-node-5b4d0ade3729d" data-node="5b4d0ade3729d">
                <div class="fl-module-content fl-node-content">
                  <div class="uabb-module-content uabb-before-after-slider">
                    <div class="uabb-module-content before-after-slider">
                      <div class="uabb-ba-container baslider-5b4d0ade3729d uabb-label-position-center uabb-move-on-hover">
                        <img src="assets/images/beforeandafter2.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="fl-col fl-node-5b4d0ae736bef fl-col-small" data-node="5b4d0ae736bef">
            <div class="fl-col-content fl-node-content">
              <div class="fl-module fl-module-uabb-beforeafterslider fl-node-5b4d0ae3604bf" data-node="5b4d0ae3604bf">
                <div class="fl-module-content fl-node-content">
                  <div class="uabb-module-content uabb-before-after-slider">
                    <div class="uabb-module-content before-after-slider">
                      <div class="uabb-ba-container baslider-5b4d0ae3604bf uabb-label-position-center uabb-move-on-hover">
                        <img src="assets/images/beforeandafter3.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>