<div class="awards-section">
  <ul>
    <div class="ul-row">
      <li class="col-md-2 col-sm-4 col-xs-6">
        <img src="assets/images/PD17-Winner-bigger.png" alt="">
      </li>
      <li class="col-md-2 col-sm-4 col-xs-6">
        <img src="assets/images/PD16-Winner.png" alt="">
      </li>
      <li class="col-md-2 col-sm-4 col-xs-6">
        <img src="assets/images/PD17-Finalist-bigger.png" alt="">
      </li>
    </div>
    <div class="ul-row">
      <li class="col-md-2 col-sm-4 col-xs-6">
        <img src="assets/images/PD16-Finalist.png" alt="">
      </li>
      <li class="col-md-2 col-sm-4 col-xs-6">
        <img src="assets/images/DA17-TheDentistry.jpg" alt="">
      </li>
      <li class="col-md-2 col-sm-4 col-xs-6">
        <img src="assets/images/Dental-Practice-of-the-Year-South-HC2.jpg" alt="">
      </li>
    </div>
  </ul>
</div>