<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-59f1b573d880c" data-node="59f1b573d880c">
  <div class="fl-row-content-wrap">
    <div class="uabb-row-separator uabb-top-row-separator">
    </div>
    <div class="pp-row-separator pp-row-separator-top">
      <svg class="pp-big-triangle-right" xmlns="http://www.w3.org/2000/svg" version="1.1" fill="#ece9ec" width="100%" height="60"
        viewBox="0 0 2000 90" preserveAspectRatio="none">
        <polygon xmlns="http://www.w3.org/2000/svg" points="535.084,64.886 0,0 0,90 2000,90 2000,0 "></polygon>
      </svg>
    </div>
    <div class="pp-row-separator pp-row-separator-bottom">
      <svg class="pp-big-triangle-left" xmlns="http://www.w3.org/2000/svg" version="1.1" fill="#7b4974" width="100%" height="60"
        viewBox="0 0 2000 90" preserveAspectRatio="none">
        <polygon xmlns="http://www.w3.org/2000/svg" points="535.084,64.886 0,0 0,90 2000,90 2000,0 "></polygon>
      </svg>
    </div>
    <div class="fl-row-content fl-row-fixed-width fl-node-content">
      <div class="fl-col-group fl-node-59f1c3631521f" data-node="59f1c3631521f">
        <div class="fl-col fl-node-59f1c36319c52" data-node="59f1c36319c52">
          <div class="fl-col-content fl-node-content">
            <div class="fl-module fl-module-pp-testimonials fl-node-59f1b5dbafea3" data-node="59f1b5dbafea3">
              <div class="fl-module-content fl-node-content headline">
                <h2>What our Patients say</h2>
                <div class="container">


                  <input type="radio" id="i1" name="images" checked/>
                  <input type="radio" id="i2" name="images" />
                  <input type="radio" id="i3" name="images" />
                  <!-- <input type="radio" id="i4" name="images"  /> -->

                  <div class="slide_img slide-container" id="one">
                    <div class="col-md-6 col-sm-6 col-xs-12"> <img class="review-img" src="assets/images/first-review.jpg"></div>

                    <div class="col-md-6 col-sm-6 col-xs-12 review-text">
                      <p>"I have been visiting Care Dental Platinum for Invisalign treatment and the staff could not have
                        been more friendly or helpful explaining the full treatment in detail and putting everything up front
                        with no extra hidden costs. Also fab that appointments are available on a Saturday - really handy!"</p>
                      <h3>Kate Dootson</h3>
                    </div>

                  </div>

                  <div class="slide_img" id="two">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <img class="review-img" src="assets/images/second-review.jpg">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 review-text">
                      <p>"My teeth look amazing after my Invisalign treatment with Safa, who is one of the nicest people!
                        The whole experience has been great and all the staff are always so friendly. Couldn't recommend
                        highly enough."
                      </p>
                      <h3>Abbie Fairlie</h3>
                    </div>

                  </div>

                 




                  <div id="nav_slide">
                    <label for="i1" class="dots" id="dot1"></label>
                    <label for="i2" class="dots" id="dot2"></label>
                  </div>

                </div>


                <!-- <div class="yt">
                  <a href='https://www.youtube.com/watch?v=z74ExMz-cWU' target="_blank"> See Video
                </a>
                </div> -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>