<div class="awards-section">

  <ul>
    <li class="col-md-2 col-sm-2 col-xs-6 list-item">
      <i class="far fa-clock"></i>
      <h4 class="pp -infobox-title ittle-title">Open 6 Days A Week <br> </h4>
    </li>

    <li class="col-md-2 col-sm-2 col-xs-6 list-item">
        <i class="fas fa-trophy"></i>
      <h4 class="pp -infobox-title ittle-title">Multi Award Winning Dental Clinic</h4>
    </li>

    <li class="col-md-2 col-sm-2 col-xs-6 list-item">
        <i class="far fa-star"></i>
      <h4 class="pp -infobox-title ittle-title">Over 240 Google 4.9* Reviews</h4>
    </li>

    <li class="col-md-2 col-sm-2 col-xs-6 list-item">
      <span><i class="zero-i">0</i><i class="fas fa-percent"></i></span>
      <h4 class="pp -infobox-title ittle-title">Interest-Free Finance Available</h4>
    </li>

    <li class="col-md-2 col-sm-2 col-xs-6 list-item">
        <i class="fas fa-tooth"></i>
      <h4 class="pp -infobox-title ittle-title">Free Teeth Whitening and Retainers</h4>
    </li>

    <li class="col-md-2 col-sm-2 col-xs-6 list-item last-item">
        <i class="fas fa-subway"></i>
      <h4 class="pp -infobox-title ittle-title">5 Minute walk from Hammersmith Station</h4>
    </li>

  </ul>
</div>