<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5b4d093c96900" data-node="5b4d093c96900">
  <div class="fl-row-content-wrap">
    <div class="headline">
      <h2>Invisalign Fees</h2>
    </div>
    <div class="pakages-wrap">

      <div class="col-md-4 col-sm-12 col-xs-12 ">
        <div class="package-wrapper">
          <div class="package-head head1">
            <h4>Invisalign® Express (7 Aligners)</h4>
            <h6> From</h6>
          </div>
          <div class="package-body">
            <div class="package-cost">
              <h3>£1500 </h3>
              <h4> / 0% Finance Available</h4>
            </div>
            <div class="package-features">
              <ul>
                <li>Free Invisalign Consultation </li>
                <li>Free Fixed Wire Retainer</li>
                <li>Free Clear Night Time Retainer</li>
                <li>Free Aligner Cleaning Kit</li>
                <li>Free Teeth Whitening with Philips Zoom worth £350!</li>
              </ul>
            </div>
          </div>
          <div class="Book-div">
            <button [ngx-scroll-to-offset]="-40" [ngx-scroll-to]="'consultation'">Book Now</button>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        
          <div class="package-wrapper">
            <div class="package-head head2">
              <h4>Invisalign® Lite (14 Aligners)</h4>
              <h6> From</h6>
            </div>
            <div class="package-body">
              <div class="package-cost">
                <h3>£3000  </h3>
                <h4> / 0% Finance Available</h4>
              </div>
              <div class="package-features">
                <ul>
                  <li>Free Invisalign Consultation </li>
                  <li>14 aligners + 1 set of refinements</li>
                  <li>Free Fixed Wire Retainer</li>
                  <li>Free Clear Night Time Retainer</li>
                  <li>Free Aligner Cleaning Kit</li>
                  <li>Free Teeth Whitening with Philips Zoom worth £350!</li>
                </ul>
              </div>
            </div>
            <div class="Book-div">
              <button [ngx-scroll-to-offset]="-40" [ngx-scroll-to]="'consultation'">Book Now</button>
            </div>
          </div>
        </div>
      

     
        <div class="col-md-4 col-sm-12 col-xs-12 ">
          <div class="package-wrapper">
            <div class="package-head head3">
              <h4>Invisalign® Comprehensive <br> (Unlimited Aligners)</h4>
              <h6> From</h6>
            </div>
            <div class="package-body">
              <div class="package-cost">
                <h3>£4600</h3>
                <h4> / 0% Finance Available</h4>
              </div>
              <div class="package-features">
                <ul>
                  <li>Free Invisalign Consultation </li>
                  <li>Unlimited Aligners</li>
                  <li>3 sets of Vivera retainers worth £450</li>
                  <li>Free Teeth Whitening with Philips Zoom worth £350!</li>
                </ul>
              </div>
            </div>
            <div class="Book-div">
              <button [ngx-scroll-to-offset]="-40" [ngx-scroll-to]="'consultation'">Book Now</button>
            </div>
          </div>
        </div>
      
    </div>
  </div>
</div>