<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-59f1b464596bd" data-node="59f1b464596bd">
	<div class="fl-row-content-wrap">
		<div class="head">
			<h2>How Does Invisalign Work?</h2>
		</div>
		<div class="fl-row-content fl-row-fixed-width fl-node-content">
			<div class="fl-col-group fl-node-59f1b464944f8 fl-col-group-equal-height fl-col-group-align-center fl-col-group-responsive-reversed"
			 data-node="59f1b464944f8">
				<div class="fl-col fl-node-59f1b46494716 fl-col-small" data-node="59f1b46494716">
					<div class="fl-col-content fl-node-content">
						<div class="fl-module fl-module-pp-gallery fl-node-59f1b8ebd7428" data-node="59f1b8ebd7428">
							<div class="fl-module-content fl-node-content">
								<video width="100%" height="100%" poster="assets/images/video1-poster.jpg" controls src="assets/videos/Invisalign1.mp4"></video>
							</div>
						</div>
					</div>
				</div>
				<div class="fl-col fl-node-59f1b46494759 fl-col-small" data-node="59f1b46494759">
					<div class="fl-col-content fl-node-content">
						<div class="fl-module fl-module-rich-text fl-node-59f1b46e12066" data-node="59f1b46e12066">
							<div class="fl-module-content fl-node-content">
								<div class="fl-rich-text">
									<video width="100%" height="100%" poster="assets/images/video2-poster.jpg" controls src="assets/videos/Invisalign2.mp4"></video>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>