<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-59f201b4a7525" data-node="59f201b4a7525">
  <div class="fl-row-content-wrap">
    <div class="uabb-row-separator uabb-top-row-separator">
    </div>
    <div class="pp-row-separator pp-row-separator-top">
      <svg class="pp-tilt-left" xmlns="http://www.w3.org/2000/svg" version="1.1" fill="#7b4974" width="100%" height="50" viewBox="0 0 4 0.266661"
        preserveAspectRatio="none">
        <polygon class="fil0" points="4,0 4,0.266661 -0,0.266661 "></polygon>
      </svg>
    </div>
    <div class="fl-row-content fl-row-fixed-width fl-node-content">
      <div class="fl-col-group fl-node-59f201b4ba56d" data-node="59f201b4ba56d">
        <div class="fl-col fl-node-59f201b4ba92d fl-col-has-cols" data-node="59f201b4ba92d">
          <div class="fl-col-content fl-node-content">
            <div class="fl-col-group fl-node-59f201f82fc7c fl-col-group-nested fl-col-group-equal-height fl-col-group-align-bottom" data-node="59f201f82fc7c">
              <div class="fl-col fl-node-59f201f830084" data-node="59f201f830084">
                <div class="fl-col-content fl-node-content">
                  <div class="fl-module fl-module-rich-text fl-node-5b4d061bc2f92" data-node="5b4d061bc2f92">
                    <div class="fl-module-content fl-node-content">
                      <div class="fl-rich-text">
                        <h2>Dr Safa Al-Naher</h2>
                        <h5>BDS (Kings College London), MFDS RCSED, ICOI cert, PGCert RAAD</h5>
                        <h3> Invisalign Expert at The Care Dental Group </h3>
                        <p>Dr Safa Al-Naher is our Invisalign Expert at The Care Dental Group.  She has been offering
                            adult short-term orthodontic treatments from when she first qualified seven years ago.</p>
                        <div id="comp-ihdj528q" class="txtNew" data-packed="true">
                          <p class="font_8">Invisalign is the world’s leading invisible brace system which can improve almost
                            any type of orthodontic problem in a relatively short period of time with maximum comfort and
                            convenience.
                          </p>
                          <p class="font_8">Dr. Safa enjoys treating all types of cases from the mild to the more complex
                            and offers a range of cosmetic solutions to provide a holistic treatment plan including teeth
                            whitening, composite bonding, veneers and crowns.</p>
                        </div>
                        <div id="comp-ihdj2y7b" class="style-ihdjexl5">
                          <div id="comp-ihdj2y7bline" class="style-ihdjexl5line">At Care Dental platinum we love new technology
                            and she uses our state of the art intraoral scanner to digitally plan cases and actively involve
                            the laboratory and the patient to achieve the best outcome</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="fl-col fl-node-59f201f83010e fl-col-small profile-pic" data-node="59f201f83010e">
                <div class="fl-col-content fl-node-content">
                  <div class="fl-module fl-module-photo fl-node-5b4d052571d48" data-node="5b4d052571d48">
                    <div class="fl-module-content fl-node-content">
                      <div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
                        <div class="fl-photo-content fl-photo-img-png">
                          <img class="fl-photo-img wp-image-169 size-full" src="assets/images/dr-safa.png" alt="dr-safa-alnaher" itemprop="image" title="arman-barfei"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>